name: Code Style Fixer

on:
  pull_request:
    paths:
      - '**.php'

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install
        run: composer install -n --prefer-dist --no-interaction --no-plugins --no-scripts

      - name: Run php-cs-fixer
        run: ./vendor/bin/php-cs-fixer --config=.php_cs fix

      - uses: stefanzweifel/git-auto-commit-action@v2.1.0
        with:
          commit_message: Apply php-cs-fixer changes
          branch: ${{ github.head_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_OAUTH_TOKEN }}